table{
    margin-top: 10px;
    border-collapse: collapse;
}
tr,th,td{
    padding: 20px;
    border-collapse: collapse;
}
th{
    background-color: rgb(199, 210, 210);
}
.enter{
    width: 100px;
    height: 30px;
    background-color: greenyellow;
    color: white;
}
.delete{
    border: none;
    background-color: red;
    color: white;
}
